<!-- Content Wrapper. if not page allowed for user -->
<div *ngIf="!haspermission && !isadmin" class="content-wrapper">
  <div class="row">
    <div class="col-sm-2">
    </div>
        <div class="col-sm-8">
    <div class="w3-display-middle">
      <br><br><br>
      <h2 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h2>
      <h4 class="w3-center w3-animate-right">You dont have permission to view this page.</h4>
      <h5 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h5>
      <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
      </div>
    </div>
  </div>
 </div>
 <!-- End of if not page allowed for user wrapper -->
  <!-- Content Wrapper. Contains page content -->
<div *ngIf="haspermission || isadmin"  class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0">Vote Details</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Vote Management</li>
              <li class="breadcrumb-item active">Vote Details</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-12">
                  <div class="card card-primary">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Create Vote Detail</h4>
                          <!-- <p class="card-category">Create Vote Programme</p> -->
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      <div class="card-body">
                            <div *ngIf="isSinhala;">
                                <label>Select Vote Programme</label> 
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.programmeID" (ngModelChange)="LoadProjectsandIncomeTitles($event);">
                                    <option  value="0">--Select Vote Programme</option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.programmeID" (ngModelChange)="LoadProjectsandIncomeTitles($event);">
                                    <option value="0">--Select Vote Programme</option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.programmeID" (ngModelChange)="LoadProjectsandIncomeTitles($event);">
                                    <option value="0">--Select Vote Programme</option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameTamil)}} </option>
                                </select>
                            </div>

                            
                            <div *ngIf="isSinhala;">
                                <label>Select Vote Income Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.projectID" (ngModelChange)="getAllSubProjectsByProjectId($event);">
                                    <option value="0">--Select Vote Income Project</option>
                                    <option *ngFor=" let project of APIProjectsListByProgramme" [value]="project.id"> {{(project.code +" :: " + project.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Vote Income Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.projectID" (ngModelChange)="getAllSubProjectsByProjectId($event);">
                                    <option value="0">--Select Vote Income Project</option>
                                    <option *ngFor=" let project of APIProjectsListByProgramme" [value]="project.id"> {{(project.code +" :: " + project.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote Income Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.projectID" (ngModelChange)="getAllSubProjectsByProjectId($event);">
                                    <option value="0">--Select Vote Income Project</option>
                                    <option *ngFor=" let project of APIProjectsListByProgramme" [value]="project.id"> {{(project.code +" :: " + project.nameTamil)}} </option>
                                </select>
                            </div>

                            
                            <div *ngIf="isSinhala;">
                                <label>Select Sub Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.subprojectID"  (ngModelChange)="onchangeSubproject($event);">
                                    <option value="0">--Select Vote Income Sub Project</option>
                                    <option *ngFor=" let subproject of APISubProjectsByProject" [value]="subproject.id"> {{(subproject.code +" :: " + subproject.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Sub Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.subprojectID" (ngModelChange)="onchangeSubproject($event);">
                                    <option value="0">--Select Vote Income Sub Project</option>
                                    <option *ngFor=" let subproject of APISubProjectsByProject" [value]="subproject.id"> {{(subproject.code +" :: " + subproject.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Sub Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.subprojectID" (ngModelChange)="onchangeSubproject($event);">
                                    <option value="0">--Select Vote Income Sub Project</option>
                                    <option *ngFor=" let subproject of APISubProjectsByProject" [value]="subproject.id"> {{(subproject.code +" :: " + subproject.nameTamil)}} </option>
                                </select>
                            </div>
                            
                            <div *ngIf="isSinhala;">
                                <label>Select Vote Income Title</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeTitleID" (ngModelChange)="getAllIncomeSubTitlesByIncomeTitleID($event);">
                                    <option value="0"> --Select Vote Income Title-- </option>
                                    <option *ngFor=" let incometitle of APIIncomeTitleListByProgramme" [value]="incometitle.id"> {{(incometitle.code +" :: " + incometitle.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Vote Income Title</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeTitleID" (ngModelChange)="getAllIncomeSubTitlesByIncomeTitleID($event);">
                                    <option value="0">--Select Vote Income Title</option>
                                    <option *ngFor=" let incometitle of APIIncomeTitleListByProgramme" [value]="incometitle.id"> {{(incometitle.code +" :: " + incometitle.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote Income Title</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeTitleID" (ngModelChange)="getAllIncomeSubTitlesByIncomeTitleID($event);">
                                    <option value="0">--Select Vote Income Title--</option>
                                    <option *ngFor=" let incometitle of APIIncomeTitleListByProgramme" [value]="incometitle.id"> {{(incometitle.code +" :: " + incometitle.nameTamil)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isSinhala;">
                                <label>Select Income Subtitle</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeSubtitleID" (ngModelChange)="onchangeSubTitle($event);">
                                    <option value="0">--Select Vote Income Subtitle</option>
                                    <option *ngFor=" let subtitle of APIIncomeSubTitleListByTitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Income Subtitle</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeSubtitleID" (ngModelChange)="onchangeSubTitle($event);">
                                    <option value="0">--Select Vote Income Subtitle</option>
                                    <option *ngFor=" let subtitle of APIIncomeSubTitleListByTitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Income Subtitle</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeSubtitleID" (ngModelChange)="onchangeSubTitle($event);">
                                    <option value="0">--Select Vote Income Subtitle</option>
                                    <option *ngFor=" let subtitle of APIIncomeSubTitleListByTitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameTamil)}} </option>
                                </select>
                            </div>
                            
                            
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.nameSinhala" placeholder="Type Vote Name in Sinhala" class="form-control"required/>
                              
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.nameTamil" placeholder="Type Vote Name in Tamil" class="form-control" required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.nameEnglish" placeholder="Type Vote Name in English" class="form-control"required/>
                              <br>

                              <input type="text" [(ngModel)]="selectedVoteDetail.code" placeholder="Type Vote Code" class="form-control" required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.voteOrder" placeholder="Type Vote Order" class="form-control" required/>
                              <br>
                              <div class="form-group">
                                <button class="btn btn-success" (click)="updateRecord()">{{(selectedVoteDetail.id!==undefined)?'Update':'Create'}}</button>
                                &nbsp;
                                <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                                <!-- <div class="loading" *ngIf="loading">
                                <mat-spinner></mat-spinner>
                            </div> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Vote Detail List</h3>
        
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                      <!-- <div class="card-body"> -->
                          <!-- <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <th>Vote Detail</th>
                                            <th>Code</th>
                                            <th>Vote Order</th>
                                            <th>Options</th>
                                        </tr>
                                        <tr *ngFor="let votedetail of APIVoteDetailsForProgrammeList; index as i">
                                            <td>{{ i+1 }}</td>
                                              <td ><span *ngIf="isSinhala">{{votedetail.nameSinhala}}</span> <span *ngIf="isEnglish">{{votedetail.nameEnglish}}</span> <span *ngIf="isTamil">{{votedetail.nameTamil}}</span> </td> 
                                              <td>{{ votedetail.code }}</td>
                                              <td>{{ votedetail.voteOrder }}</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button (click)="editVoteDetail(votedetail)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-info">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                &nbsp;
                                                <button (click)="deleteVoteDetail(votedetail)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                              
                          </div>
                      </div>
                  </div> -->



                  <div class="card-body">
                    <div class="table-responsive">
                     <div class="input-group mb-3">
                       <div class="input-group-prepend">
                         <span class="input-group-text"><i class="fas fa-filter"></i></span>
                       </div>
                       <input type="text" placeholder="Type here to filter data" (keyup)="applyFilter($event)" class="form-control"required/>
                     </div>
                             <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                               <ng-container matColumnDef="id">
                                 <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                 <td mat-cell *matCellDef="let i = index">
                                 {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}</td>
                               </ng-container>
                               <ng-container matColumnDef="voteCode">
                                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote  Code</th>
                                 <td mat-cell *matCellDef="let voteDetail"> {{voteDetail.code}} </td>
                               </ng-container>
                               <ng-container matColumnDef="voteName">
                                 <th mat-header-cell *matHeaderCellDef> Vote Name </th>
                                 <td mat-cell *matCellDef="let voteDetail"> 
                                   <span *ngIf="isSinhala">{{voteDetail.nameSinhala}}</span> <span *ngIf="isEnglish">{{voteDetail.nameEnglish}}</span> <span *ngIf="isTamil">{{voteDetail.nameTamil}}</span> 
                                 </td>
                               </ng-container>
                               <ng-container matColumnDef="voteOrder">
                                 <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote Order </th>
                                 <td mat-cell *matCellDef="let voteDetail"> {{voteDetail.voteOrder}} </td>
                               </ng-container>
                               <ng-container matColumnDef="actions">
                                 <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
                                 <td mat-cell *matCellDef="let voteDetail">
                                   <div class="text-center">
                                     <button mat-flat-button color="" (click)="editVoteDetail(voteDetail)" style="margin-right: 5px;"><i class="fas fa-edit text-primary"></i></button>
                                     <button mat-flat-button color=""  (click)="deleteVoteDetail(voteDetail)"> <i class="fas fa-trash text-danger"></i></button>
                                   </div>
                                 </td>
                               </ng-container>
                               <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
                               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                             </table>
                             <mat-paginator
                             [length]="pagination.total"
                             [pageIndex]="pagination.pageIndex - 1"
                             [pageSize]="pagination.pageSize"
                             [pageSizeOptions]="[5, 10, 20, 50, 100]"
                             (page)="paginated.emit($event)"
                             showFirstLastButtons>
                           </mat-paginator>
                         </div>  
                       </div>
              <!-- </div> -->
            </div>
            </div>
          
        </div>
    </div><!-- /.container-fluid -->
</section>
</div>