<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0">Vote Assignment</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Mix Income Management</li>
            <li class="breadcrumb-item active">Vote Assignment</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card card-primary">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title ">Create Vote Assignment</h4>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                  <div class="card-body">
                    <div class="row">
                        <ng-multiselect-dropdown class="col-md-5"
                            [placeholder]="'Select Votes'"
                            [settings]="VoteDetailsDropdownSettings"
                            [data]="APIVoteDetailsList"
                            [(ngModel)]="selectedVoteDetailsItems"
                            >
                        </ng-multiselect-dropdown>
                        <br>
                        <ng-multiselect-dropdown class="col-md-3"
                            [placeholder]="'Select Sub Office'"
                            [settings]="OfficesDropdownSettings"
                            [data]="APIOfficesList"
                            [(ngModel)]="selectedOfficesItems"
                            >
                        </ng-multiselect-dropdown>
                        <br>
                        <ng-multiselect-dropdown class="col-md-4"
                            [placeholder]="'Select Bank Account'"
                            [settings]="BankAccountsDropdownSettings"
                            [data]="APIBankAccountsList"
                            [(ngModel)]="selectedBankAccountsItems"
                            >
                        </ng-multiselect-dropdown>
                        <br>
                        <br>
                    <div class="form-group col-md-5">
                      <button class="btn btn-success" (click)="saveRecord()">{{(selectedVoteAssignment.id!==undefined)?'Update':'Create'}}</button>
                      &nbsp;
                      <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                    </div>
                  </div>
                  </div>
                </div>
            </div>

          <div class="col-lg-12 col-md-12">
              <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Vote Assignment List</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                    <div class="card-body">
                       <div class="table-responsive">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-filter"></i></span>
                          </div>
                          <input type="text" placeholder="Type here to filter data" (keyup)="applyFilter($event)" class="form-control"required/>
                        </div>
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                                  <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let i = index">
                                    {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="voteId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote </th>
                                    <td mat-cell *matCellDef="let voteAssignment"> {{voteAssignment.voteDetail.code}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="voteName">
                                    <th mat-header-cell *matHeaderCellDef> Vote Name </th>
                                    <td mat-cell *matCellDef="let voteAssignment"> 
                                      <span *ngIf="isSinhala">{{voteAssignment.voteDetail.nameSinhala}}</span> <span *ngIf="isEnglish">{{voteAssignment.voteDetail.nameEnglish}}</span> <span *ngIf="isTamil">{{voteAssignment.voteDetail.nameTamil}}</span> 
                                    </td>
                                  </ng-container>
                                  <ng-container matColumnDef="bankAccountId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account No. </th>
                                    <td mat-cell *matCellDef="let voteAssignment"> {{voteAssignment.accountDetail.accountNo}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="office">
                                    <th mat-header-cell *matHeaderCellDef> Office </th>
                                    <td mat-cell *matCellDef="let voteAssignment">
                                      <span *ngIf="isSinhala">{{voteAssignment.office.nameSinhala}}</span> <span *ngIf="isEnglish">{{voteAssignment.office.nameEnglish}}</span> <span *ngIf="isTamil">{{voteAssignment.office.nameTamil}}</span> 
                                    </td>
                                  </ng-container>
                                  <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
                                    <td mat-cell *matCellDef="let voteAssignment">
                                      <div class="text-center">
                                        <button mat-flat-button color="" (click)="editVoteAssignment(voteAssignment)"  matTooltip="Edit" [matTooltipPosition]="'above'"  style="margin-right: 5px;"><i class="fas fa-edit text-primary"></i></button>
                                        <button mat-flat-button color=""  (click)="deleteVoteAssignment(voteAssignment)"  matTooltip="Remove" [matTooltipPosition]="'above'" > <i class="fas fa-trash text-danger"></i></button>
                                      </div>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator
                                [length]="pagination.total"
                                [pageIndex]="pagination.pageIndex - 1"
                                [pageSize]="pagination.pageSize"
                                [pageSizeOptions]="[5, 10, 20, 50, 100]"
                                (page)="paginated.emit($event)"
                                showFirstLastButtons>
                              </mat-paginator>
                            </div> 
                          </div>
            </div>
          </div>

      </div>
  </div><!-- /.container-fluid -->
</section>
</div>
