<div class="main-content">
    <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Vote Details</h4>
                          <p class="card-category">Create Vote Detail</p>
                      </div>
                      <div class="card-body">
                            <div *ngIf="isSinhala;">
                                <label>Select Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.programmeID" (ngModelChange)="LoadProjectsandIncomeTitles($event);">
                                    <option  value="0">--Select Vote Programme</option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.index" > {{(programme.code +" :: " + programme.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.programmeID" (ngModelChange)="LoadProjectsandIncomeTitles($event);">
                                    <option value="0">--Select Vote Programme</option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.programmeID" (ngModelChange)="LoadProjectsandIncomeTitles($event);">
                                    <option value="0">--Select Vote Programme</option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameTamil)}} </option>
                                </select>
                            </div>

                            
                            <div *ngIf="isSinhala;">
                                <label>Select Vote Income Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.projectID" (ngModelChange)="getAllSubProjectsByProjectId($event);">
                                    <option value="0">--Select Vote Income Project</option>
                                    <option *ngFor=" let project of APIProjectsListByProgramme" [value]="project.id"> {{(project.code +" :: " + project.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Vote Income Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.projectID" (ngModelChange)="getAllSubProjectsByProjectId($event);">
                                    <option value="0">--Select Vote Income Project</option>
                                    <option *ngFor=" let project of APIProjectsListByProgramme" [value]="project.id"> {{(project.code +" :: " + project.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote Income Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.projectID" (ngModelChange)="getAllSubProjectsByProjectId($event);">
                                    <option value="0">--Select Vote Income Project</option>
                                    <option *ngFor=" let project of APIProjectsListByProgramme" [value]="project.id"> {{(project.code +" :: " + project.nameTamil)}} </option>
                                </select>
                            </div>

                            
                            <div *ngIf="isSinhala;">
                                <label>Select Sub Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.subprojectID">
                                    <option value="0">--Select Vote Income Sub Project</option>
                                    <option *ngFor=" let subproject of APISubProjectsByProject" [value]="subproject.id"> {{(subproject.code +" :: " + subproject.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Sub Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.subprojectID">
                                    <option value="0">--Select Vote Income Sub Project</option>
                                    <option *ngFor=" let subproject of APISubProjectsByProject" [value]="subproject.id"> {{(subproject.code +" :: " + subproject.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Sub Project</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.subprojectID">
                                    <option value="0">--Select Vote Income Sub Project</option>
                                    <option *ngFor=" let subproject of APISubProjectsByProject" [value]="subproject.id"> {{(subproject.code +" :: " + subproject.nameTamil)}} </option>
                                </select>
                            </div>
                            
                            <div *ngIf="isSinhala;">
                                <label>Select Vote Income Title</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeTitleID" (ngModelChange)="getAllIncomeSubTitlesByIncomeTitleID($event);">
                                    <option value="0"> --Select Vote Income Title-- </option>
                                    <option *ngFor=" let incometitle of APIIncomeTitleListByProgramme" [value]="incometitle.id"> {{(incometitle.code +" :: " + incometitle.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Vote Income Title</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeTitleID" (ngModelChange)="getAllIncomeSubTitlesByIncomeTitleID($event);">
                                    <option value="0">--Select Vote Income Title</option>
                                    <option *ngFor=" let incometitle of APIIncomeTitleListByProgramme" [value]="incometitle.id"> {{(incometitle.code +" :: " + incometitle.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote Income Title</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeTitleID" (ngModelChange)="getAllIncomeSubTitlesByIncomeTitleID($event);">
                                    <option value="0">--Select Vote Income Title--</option>
                                    <option *ngFor=" let incometitle of APIIncomeTitleListByProgramme" [value]="incometitle.id"> {{(incometitle.code +" :: " + incometitle.nameTamil)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isSinhala;">
                                <label>Select Income Subtitle</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeSubtitleID">
                                    <option value="0">--Select Vote Income Subtitle</option>
                                    <option *ngFor=" let subtitle of APIIncomeSubTitleListByTitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameSinhala)}} </option>
                                </select>
                            </div>
    
                            <div *ngIf="isEnglish;">
                                <label>Select Income Subtitle</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeSubtitleID">
                                    <option value="0">--Select Vote Income Subtitle</option>
                                    <option *ngFor=" let subtitle of APIIncomeSubTitleListByTitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Income Subtitle</label>
                                <select class="form-control" [(ngModel)]="selectedVoteDetail.incomeSubtitleID">
                                    <option value="0">--Select Vote Income Subtitle</option>
                                    <option *ngFor=" let subtitle of APIIncomeSubTitleListByTitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameTail)}} </option>
                                </select>
                            </div>
                            
                            
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.nameSinhala" placeholder="Type Vote Detail Name in Sinhala" class="form-control"required/>
                              
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.nameTamil" placeholder="Type Vote Detail Name in Tamil" class="form-control" required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.nameEnglish" placeholder="Type Vote Detail Name in English" class="form-control"required/>
                              <br>

                              <input type="text" [(ngModel)]="selectedVoteDetail.code" placeholder="Type Vote Detail Code" class="form-control" required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteDetail.voteOrder" placeholder="Type Vote Detail Order" class="form-control" required/>
                              <br>
                              <div class="form-group">
                                <button class="btn btn-success" (click)="updateRecord()">{{(selectedVoteDetail.id!==undefined)?'Update':'Create'}}</button>
                                <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                                <div class="loading" *ngIf="loading">
                                <mat-spinner></mat-spinner>
                            </div>
                      </div>
                  </div>
                </div>
            </div>
              <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-tabs card-header-primary">
                          <div class="nav-tabs-navigation">
                              <div class="nav-tabs-wrapper">
                                  <span class="nav-tabs-title"></span>
                                  <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#inSinhala" data-toggle="tab">
                                            <i class="material-icons"></i> Vote Details List 
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Programme</th>
                                            <th>Project</th>
                                            <th>Sub Project</th> -->
                                            <!-- <th>Title</th>
                                            <th>Sub Title</th> -->
                                            <th>Vote Detail</th>
                                            <th>Code</th>
                                            <th>Vote Order</th>
                                            <th>Options</th>
                                        </tr>
                                        <tr *ngFor="let votedetail of APIVoteDetailsForProgrammeList; index as i">
                                            <td>{{ i+1 }}</td>
                                            <!-- <th>Programme</th>
                                            <th>Project</th> -->
                                            <!-- <th>Sub Project</th> -->
                                            <!-- <th>Title</th>
                                            <th>Sub Title</th> -->
                                              <td ><span *ngIf="isSinhala">{{votedetail.nameSinhala}}</span> <span *ngIf="isEnglish">{{votedetail.nameEnglish}}</span> <span *ngIf="isTamil">{{votedetail.nameTamil}}</span> </td> 
                                              <td>{{ votedetail.code }}</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button (click)="editVoteDetail(votedetail)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="deleteVoteDetail(votedetail)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          
        </div>
    </div>
  </div>
  