<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>CAT20 - Automation System</title>
<link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
<link href='' rel='stylesheet'>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src="../../assets/js/popper.min.js"></script>
<script type='text/javascript' src="../../assets/js/bootstrap.min.js"></script>

<style src="../../assets/css/loginpage.css"></style>

<div style="text-align: center; ">
                            <section class="body">
    <div class="container mt-5">
        <div class="login-box ">
            <div class="row">
                <div class="col-sm-6 offset-md-3 mt-5">
                    <div style="text-align: center;"><img src="../../assets/img/govlogo.jpg" alt="" width="20%"><img src="../../assets/img/cat2020logo.jpg" alt="" width="25%"></div>
                    <br>
                    <h3 class="header-title"><b>User Login</b></h3>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <!-- <label class="form-label">Username</label> -->
                            <input type="text" formControlName="username" placeholder="Username / Email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- <label class="form-label">Password</label> -->
                            <input type="password" formControlName="password" class="form-control" placeholder="Password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                            <br>
                            <!-- <a href="" class="forgot-password">Forgot Password?</a> -->
                        </div>
                        <button [disabled]="loading" class="btn btn-primary btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            LOGIN
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                        <br>
                    </form>
                </div>
            </div>
			<div style="text-align: center;"><b>Ministry of Public Administration, Home Affairs, <br>Provincial Councils and Local Government</b></div>
        </div>
    </div>
	<div style="text-align: center;"><i>
        &copy;
         CAT2020 Copyright Wayamba Development Authority -  {{test | date: 'yyyy'}}</i>
    </div>
</section>
                            <script type='text/javascript'></script>
                          </div>               

