<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Personal Information</h4>
                      <p class="card-category">Your information is important to us so always provide updated information</p>
                  </div>
                  <div class="card-body">
             
                      <form>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="User ID" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Provence & District" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Sabha name & ID" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mobile Phone Number" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Phone Number" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Adress" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                                                    
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>


        <div class="col-md-4">
          <div class="card card-profile">
              <div class="card-avatar">
                  <a href="javascript:void(0)">
                      <img class="img" src="./assets/img/faces/govlogo.jpg" />
                  </a>
              </div>
              <div class="card-body">
                  <h6 class="card-category text-gray">Cat2022</h6>
                  <h4 class="card-title">Automation System</h4>
                  <p class="card-description">
                      Ministry of public Administration, Home Affairs, provincials and Local Goverment
                  </p>
                  <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
              </div>
          </div>
      </div>

      </div>

      <div class="row">

          <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Change Password</h4>
                    <p class="card-category">Change to a new password at least once a month for your security</p>
                </div>
                <div class="card-body">
           
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Old Password" type="password">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="New Password" type="password">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="New Password" type="password">
                              </mat-form-field>
                            </div>
                        </div>
                                   
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Change Password</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
