<!-- Content Wrapper. if not page allowed for user -->
<div *ngIf="!isadmin" class="content-wrapper">
  <!-- <div class="row">
    <div class="col-sm-2">
    </div>
        <div class="col-sm-8">
    <div class="w3-display-middle">
      <br><br><br>
      <h2 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h2>
      <h4 class="w3-center w3-animate-right">You dont have permission to view this page.</h4>
      <h5 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h5>
      <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
      </div>
    </div>
  </div> -->
 </div>
 <!-- End of if not page allowed for user wrapper -->
   <!-- Content Wrapper. Contains page content -->
<div *ngIf="isadmin"  class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0">Groups</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">User Management</li>
              <li class="breadcrumb-item active">Groups</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-12">
                <div class="card card-primary">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Create Group</h4>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                      </div>
                    <div class="card-body">
                          <input type="text" [(ngModel)]="selectedGroup.description" placeholder="Type Group Name" class="form-control"required/>
                          <br>
                          Active <mat-checkbox [(ngModel)]="selectedGroup.isActive" (change)="onchangeIsActive($event)" value="checked"></mat-checkbox>
                            <br><br>
                            <div class="form-group">
                              <button class="btn btn-success" (click)="saveGroup()">{{(selectedGroup.id!==undefined)?'Update':'Create'}}</button>
                              &nbsp;
                              <button class="btn btn-danger" (click)="clearGroup()">Clear</button>
                              <div class="loading" *ngIf="loading">
                               <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
                          </div>
                    </div>
                </div>
              </div>
          </div>

              <div class="col-lg-8 col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Groups List</h3>
        
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                      <div class="card-body">
                          <div class="tab-content">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <th>Group</th>
                                            <th class="text-center">Users</th>
                                            <th  class="text-center">Rules</th>
                                            <th  class="text-center">Active</th>
                                            <!-- <th>Audit Logs</th> -->
                                            <th class="text-center">Options</th>
                                        </tr>
                                        <tr *ngFor="let Group of APIGroupsList; index as i">
                                            <td>{{ i+1 }}</td>
                                            <td >{{Group.description}} </td> 
                                            
                                            <td class="text-center"> 
                                              <button mat-raised-button (click)="loadGroupUsers(Group.id,Group.description)" type="button" matTooltip="Group Users" [matTooltipPosition]="'above'" class="btn btn-info">
                                                <i class="fas fa-user text-info"></i>
                                            </button>
                                            </td> 
                                            <td class="text-center"> 
                                              <button mat-raised-button (click)="loadGroupRules(Group.id,Group.description)" type="button" matTooltip="Group Rules" [matTooltipPosition]="'above'" class="btn btn-info">
                                                <i class="fas fa-file text-info"></i>
                                            </button>
                                            </td> 
                                            <td class="text-center">  <span *ngIf="Group.isActive==true">Yes</span>  <span *ngIf="Group.isActive!=true">No</span></td> 
                                            
                                            <!-- <td> Audit Logs</td> -->
                                            <td class="td-actions text-center">
                                                <button mat-flat-button (click)="editGroup(Group)" type="button" matTooltip="Edit Group" [matTooltipPosition]="'above'" >
                                                  <i class="fas fa-edit text-primary"></i>
                                                </button>
                                                <button (click)="deleteGroup(Group)" mat-flat-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" >
                                                  <i class="fas fa-trash text-danger"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <div *ngIf="enableGroupUserForm==true" class="card card-primary">
              <!-- <div class="card card-primary"> -->
              <div class="card-header">
                <h3 class="card-title">{{selectedGroupDescriptionForGroupUser}} - Group Users</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-danger" (click)="closeGroupUsers()" title="Close Window">
                    <i class="fas fa-window-close"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                     <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <form class="form-inline well">
                          <button class="btn btn-default" (click)="doFilter()">{{filterBtn()}}</button>
                          <!-- <button class="btn btn-default" (click)="doDisable()">{{disableBtn()}}</button> -->
                          <!-- <button class="btn btn-primary" (click)="doResetGroupUserDualList()">Reset</button> -->
                        </form>
                      </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col-6 col-sm-6">
                  </div>
                  <div class="col-4 col-sm-4">
                <div class="form-group">
                  <button class="btn btn-success" (click)="saveGroupUser(selectedGroupIDForGroupUser)">Save Changes</button>
                  &nbsp;
                  <button class="btn btn-danger" (click)="resetGroupUser(selectedGroupIDForGroupUser)">Reset</button>
                  <div class="loading" *ngIf="loading">
                   <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
              </div>
             </div>
            </div>
            <div class="col-2 col-sm-2">
            </div>
            </div>

              </div>
              <!-- /.card -->
            </div>


            <div *ngIf="enableGroupRuleForm==true" class="card card-primary">
              <!-- <div class="card card-primary"> -->
              <div class="card-header">
                <h3 class="card-title">{{selectedGroupDescriptionForGroupRule}} - Group Rules</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-danger" (click)="closeGroupRules()" title="Close Window">
                    <i class="fas fa-window-close"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                     <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
                    [(destination)]="confirmed" height="265px" [format]="format" [disabled]="disabled"></dual-list>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <form class="form-inline well">
                          <button class="btn btn-default" (click)="doFilter()">{{filterBtn()}}</button>
                          <!-- <button class="btn btn-default" (click)="doDisable()">{{disableBtn()}}</button> -->
                          <!-- <button class="btn btn-primary" (click)="doResetGroupUserDualList()">Reset</button> -->
                        </form>
                      </div>
                </div>
                
                <br>
                <div class="row">
                  <div class="col-6 col-sm-6">
                  </div>
                  <div class="col-4 col-sm-4">
                <div class="form-group">
                  <button class="btn btn-success" (click)="saveGroupRule(selectedGroupIDForGroupRule)">Save Changes</button>
                  &nbsp;
                  <button class="btn btn-danger" (click)="resetGroupRule(selectedGroupIDForGroupRule)">Reset</button>
                  <div class="loading" *ngIf="loading">
                   <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
              </div>
             </div>
            </div>
            <div class="col-2 col-sm-2">
            </div>
            </div>

              </div>
              <!-- /.card -->
            </div>
            
          </div>
        </div>

        <!-- <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card card-primary">
              <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{selectedGroup.description}} Group - Add/Remove Group Users</h4>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
              <div class="card-body">
                




                  <ul class="nav nav-tabs" style="margin-top:50px;">
                    <li [class.active]="tab===1"><a (click)="tab=1">Arrays</a><li>
                    <li [class.active]="tab===2"><a (click)="tab=2">Format</a></li>
                    <li [class.active]="tab===3"><a (click)="tab=3">Programmatic changes</a></li>
                  </ul>

                  <div class="tab-content">
                    <div >
                      <div class="row">
                        <div class="col-sm-6" style="margin-top:32px;"><h4>Source</h4><pre><small>{{source|json}}</small></pre></div>
                        <div class="col-sm-6" style="margin-top:32px;"><h4>Confirmed</h4><pre><small>{{confirmed|json}}</small></pre></div>
                      </div>
                    </div>


                    <div >
                      <form class="form">
                        <div class="form-group">
                          <label style="display:block;">Direction</label>
                          <div class="btn-group">
                            <button type="button" class="btn" [ngClass]="{ 'btn-primary' : sourceLeft, 'btn-default' : !sourceLeft }"
                              (click)="swapDirection()">left-to-right</button>
                            <button type="button" class="btn" [ngClass]="{ 'btn-primary' : !sourceLeft, 'btn-default' : sourceLeft }"
                              (click)="swapDirection()">right-to-left</button>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Enable drag-and-drop</label>
                          <div class="checkbox">
                            <label><input type="checkbox" [(ngModel)]="format.draggable" name="drag">draggable</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Locale</label>
                          <input class="form-control" [(ngModel)]="format.locale" name="locale">
                        </div>
                        <div class="form-group">
                          <label>Add button</label>
                          <input class="form-control" [(ngModel)]="format.add" name="addBtn">
                        </div>
                        <div class="form-group">
                          <label>Remove button</label>
                          <input class="form-control" [(ngModel)]="format.remove" name="rmBtn">
                        </div>
                        <div class="form-group">
                          <label>All button</label>
                          <input class="form-control" [(ngModel)]="format.all" name="allBtn">
                        </div>
                        <div class="form-group">
                          <label>None button</label>
                          <input class="form-control" [(ngModel)]="format.none" name="noneBtn">
                        </div>
                      </form>
                    </div>

                   


                    <div >
                      <div class="row" style="margin-top:20px;">
                        <div class="col-sm-6">
                          <label>Modify parent's source</label>
                          <form class="form-inline well">
                            <input class="form-control col-sm-1" style="margin-right:4px;" [(ngModel)]="userAdd" name="userAdd">
                            <button class="btn btn-success" (click)="doCreate()" [disabled]="!userAdd.length">Create</button>
                            <button class="btn btn-danger" (click)="doDelete()">Delete</button>
                          </form>
                        </div>
                        <div class="col-sm-6">
                          <label>Modify parent's confirmed</label>
                          <form class="form-inline well">
                          <button class="btn btn-default" (click)="doAdd()">Add</button>
                          <button class="btn btn-default" (click)="doRemove()">Remove</button>
                          </form>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <label>Array source</label>
                          <form class="form well">
                            <div class="radio" *ngFor="let item of arrayType">
                              <label>
                                <input type="radio" name="sourceType" [value]="item.value" [(ngModel)]="type" (change)="swapSource()">
                                {{item.name}} &mdash; {{item.detail}}
                              </label>
                            </div>
                          </form>
                        </div>
                      </div>
                      
                    </div>
                  </div>

          </div>
        </div>
    </div>
  </div> -->
    </div><!-- /.container-fluid -->
</section>
</div>
  