
  <!-- Content Wrapper. Contains page content -->
<div *ngIf="haspermission || isadmin"  class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0">Custom Vote Names</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Mix Income Management</li>
            <li class="breadcrumb-item active">Custom Vote Names</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card card-primary">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title ">Create Custom Vote Name</h4>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                    
                  <div class="card-body">
                    
                          <form [formGroup]="customVoteNameForm" (ngSubmit)="saveRecord()">  
                            <div class="row">
                              <div hidden>
                              <div class="col-md-3">
                                <div *ngIf="isSinhala;">
                                  <!-- <label>Select Office</label> -->
                                  <select class="form-control" formControlName="offices" placeholder="Select Office" (ngModelChange)="getAllDataForOfficeID($event);" readonly>
                                      <option value="0"> --Select an Office--</option>
                                      <option *ngFor=" let office of APIOfficesList" [value]="office.id" > {{(office.code +" :: " + office.nameSinhala)}} </option>
                                  </select>
                              </div>
                
                              <div *ngIf="isEnglish;">
                                  <!-- <label>Select Office</label> -->
                                  <select class="form-control" formControlName="offices" placeholder="Select Office" (ngModelChange)="getAllDataForOfficeID($event);" readonly>
                                      <option value="0"> --Select an Office--</option>
                                      <option *ngFor=" let office of APIOfficesList" [value]="office.id" > {{(office.code +" :: " + office.nameEnglish)}} </option>
                                  </select>
                              </div>
                              
                              <div *ngIf="isTamil;">
                                  <!-- <label>Select Office</label> -->
                                  <select class="form-control" formControlName="offices" placeholder="Select Office" (ngModelChange)="getAllDataForOfficeID($event);" readonly>
                                      <option value="0"> --Select an Office--</option>
                                      <option *ngFor=" let office of APIOfficesList" [value]="office.id" > {{(office.code +" :: " + office.nameTamil)}} </option>
                                  </select>
                              </div>
                            </div>
                            </div>

                              <div class="col-lg-4 col-md-12">
                              <!-- <div *ngIf="isSinhala;">
                                <label>Select Vote  </label>
                                <select class="form-control" formControlName="assignedVotes" placeholder="Select Vote" >
                                    <option value="0"> --Select a Vote--</option>
                                    <option *ngFor=" let voteAssignment of APIVoteAssignmentsForOfficeList" [value]="voteAssignment.id"> {{(voteAssignment.voteCode +" :: " + voteAssignment.voteDetail.nameSinhala)}} </option>
                                </select>
                            </div>
              
                            <div *ngIf="isEnglish;">
                                <label>Select Vote  </label>
                                <select class="form-control" formControlName="assignedVotes" placeholder="Select Vote" >
                                    <option value="0"> --Select a Vote--</option>
                                    <option *ngFor=" let voteAssignment of APIVoteAssignmentsForOfficeList" [value]="voteAssignment.id"> {{(voteAssignment.voteCode +" :: " + voteAssignment.voteDetail.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote  </label>
                                <select class="form-control" formControlName="assignedVotes" placeholder="Select Vote" >
                                    <option value="0"> --Select a Vote--</option>
                                    <option *ngFor=" let voteAssignment of APIVoteAssignmentsForOfficeList" [value]="voteAssignment.id"> {{(voteAssignment.voteCode +" :: " + voteAssignment.voteDetail.nameTamil)}} </option>
                                </select>
                            </div> -->
                            <label>Select Vote  </label>
                            <ng-multiselect-dropdown
                            [placeholder]="'Select a Vote'"
                            [settings]="VoteDetailsDropdownSettings"
                            [data]="APIVoteAssignmentsForOfficeList"
                            formControlName="assignedVotes"
                            (onSelect)="onVoteSelect($event)"
                            (onSelectAll)="onVoteSelectAll($event)"
                            (onDeSelect)="onVoteDeSelect($event)"
                            (onDeSelectAll)="onVoteUnSelectAll()"
                            >
                           </ng-multiselect-dropdown>
                           <label> {{SelectedVoteName}}</label> <br>

                            <div><table formArrayName="customVoteNames" >  
                              <tr>  
                                <th colspan="2">
                                  <!-- Add Custom Vote Names: -->
                                </th>   
                              </tr>  
                              <tr *ngFor="let quantity of customVoteNames().controls; let i=index" [formGroupName]="i">  
                                <td colspan="2">                                      
                                    <input type="text" formControlName="customvotename" placeholder="Type Custom Vote" class="form-control">  
                                </td>  
                                <td>  
                                    <button (click)="removeCustomVoteName(i)" class="btn btn-danger">Remove</button>  
                                </td>  
                              </tr>  
                            </table>  
                          </div>
                          
                          </div>
                          <div class="col-md-5">
                            <label>Custom Vote Name </label><br>
                            <button type="button" (click)="addCustomVoteName()" class="btn btn-primary">Add a Name</button>
                          </div>
                        </div>
                        <br>
                            <div class="form-group col-md-5">
                              <button type="submit" class="btn btn-success">Submit</button>  
                              &nbsp;
                              <button type="reset" class="btn btn-danger" (click)="clearRecord()">Clear</button>
                            </div>
                          </form>  
                          <!-- {{this.customVoteNameForm.value | json}}   -->
                  </div>
                </div>
            </div>

          <div class="col-lg-12 col-md-12">
              <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Vote Assignment List</h3>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                    <div class="card-body">
                       <div class="table-responsive">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-filter"></i></span>
                          </div>
                          <input type="text" placeholder="Type here to filter data" (keyup)="applyFilter($event)" class="form-control"required/>
                        </div>
                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                                  <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                                    <td mat-cell *matCellDef="let i = index">
                                    {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}</td>
                                  </ng-container>
                                  <ng-container matColumnDef="voteId">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vote Code</th>
                                    <td mat-cell *matCellDef="let voteAssignment"> {{voteAssignment.voteCode}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="customVoteName">
                                    <th mat-header-cell *matHeaderCellDef> Custom Vote Name </th>
                                    <td mat-cell *matCellDef="let voteAssignment"> {{voteAssignment.customVoteName}} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
                                    <td mat-cell *matCellDef="let voteAssignment">
                                      <div class="text-center">
                                        <!-- <button mat-flat-button color="" (click)="editCustomVoteName(voteAssignment)" style="margin-right: 5px;"><i class="fas fa-edit text-primary"></i></button> -->
                                        <button mat-flat-button color=""  (click)="deleteCustomVoteName(voteAssignment)"  matTooltip="Remove" [matTooltipPosition]="'above'" > <i class="fas fa-trash text-danger"></i></button>
                                      </div>
                                    </td>
                                  </ng-container>
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <mat-paginator
                                [length]="pagination.total"
                                [pageIndex]="pagination.pageIndex - 1"
                                [pageSize]="pagination.pageSize"
                                [pageSizeOptions]="[5, 10, 20, 50, 100]"
                                (page)="paginated.emit($event)"
                                showFirstLastButtons>
                              </mat-paginator>
                            </div> 
                          </div>
            </div>
          </div>

      </div>
  </div><!-- /.container-fluid -->
</section>
</div>
<!-- Content Wrapper. if not page allowed for user -->
<div *ngIf="!haspermission && !isadmin" class="content-wrapper">
  <!-- <div class="row">
    <div class="col-sm-2">
    </div>
        <div class="col-sm-8">
    <div class="w3-display-middle">
      <br><br><br>
      <h2 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h2>
      <h4 class="w3-center w3-animate-right">You dont have permission to view this page.</h4>
      <h5 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h5>
      <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
      </div>
    </div>
  </div> -->
 </div>
 <!-- End of if not page allowed for user wrapper -->