<div class="main-content">
    <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Vote Income Titles</h4>
                          <p class="card-category">Create Vote Income Title</p>
                      </div>
                      <div class="card-body">
                             <div *ngIf="isSinhala;">
                                <label>Select a Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedIncomeTitle.programmeID" (ngModelChange)="getAllIncomeTitlesByProgrammeId($event);">
                                    <option value="0" > --Select Programme-- </option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameSinhala)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isEnglish;">
                                <label>Select a Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedIncomeTitle.programmeID" (ngModelChange)="getAllIncomeTitlesByProgrammeId($event);">
                                    <option value="0" > --Select Programme-- </option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select a Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedIncomeTitle.programmeID" (ngModelChange)="getAllIncomeTitlesByProgrammeId($event);">
                                    <option value="0" > --Select Programme-- </option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameTamil)}} </option>
                                </select>
                            </div>
                              <br>
                              <input type="text" [(ngModel)]="selectedIncomeTitle.nameSinhala" placeholder="Type Income Titile Name in Sinhala" class="form-control"required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedIncomeTitle.nameTamil" placeholder="Type Income Titile Name in Tamil" class="form-control" required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedIncomeTitle.nameEnglish" placeholder="Type Income Titile Name in English" class="form-control"required/>
                              <br>
                              
                              <input type="text" [(ngModel)]="selectedIncomeTitle.code" placeholder="Type Income Titile Code" class="form-control" required/>
                              <br>
                              <br>
                              <div class="form-group">
                                <button class="btn btn-success" (click)="updateRecord()">{{(selectedIncomeTitle.id!==undefined)?'Update':'Create'}}</button>
                                <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                                <div class="loading" *ngIf="loading">
                                <mat-spinner></mat-spinner>
                            </div> 
                     </div> 
                  </div>
                </div>
            </div>
              <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-tabs card-header-primary">
                          <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title"></span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#inSinhala" data-toggle="tab">
                                          <i class="material-icons"></i> Vote Income Titles List 
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                 
                                </ul>
                            </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                              <!-- <th>Programme</th> -->
                                              <th>Income Title</th>
                                              <th>Code</th>
                                              <th>Options</th>
                                          </tr>
                                          <tr *ngFor="let incomeTitile of APIIncomeTitlesForProgrammeList; index as i">
                                              <td>{{ i+1 }}</td>
                                              <td ><span *ngIf="isSinhala">{{incomeTitile.nameSinhala}}</span> <span *ngIf="isEnglish">{{incomeTitile.nameEnglish}}</span> <span *ngIf="isTamil">{{incomeTitile.nameTamil}}</span> </td> 
                                              <td>{{ incomeTitile.code }}</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button (click)="editIncomeTitle(incomeTitile)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="deleteIncomeTitle(incomeTitile)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                             
                          </div>
                      </div>
                  </div>
              </div>
          
        </div>
    </div>
  </div>
  