<div class="main-content">
    <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Vote Allocation </h4>
                          <p class="card-category">Create Vote Allocation</p>
                      </div>

                       

                      <!-- <div class="combobox">
                        <input type="text" [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()" class="combobox-input" (keyup)="onKeyPress($event)" (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)" placeholder="Select one..." [ngClass]="{'error': showError}">
                      <span *ngIf="showError" class="error-text"><i>Invalid Selection.</i></span>
                      <div class="combobox-options" *ngIf="!listHidden">
                        <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)" [ngClass]="{'selected': i===selectedIndex}">{{item}}</list-item>
                      </div>
                    </div>
                     -->
                      <!-- <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Number</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Number" matInput [(ngModel)]="selectedVoteallocation.voteDetailID"  [matAutocomplete]="auto"> <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of APIVoteDetailsList | async" [value]="votedetail.id">{{votedetail.code}}</mat-option>
                        </mat-autocomplete>
                      </mat-form-field> -->
                      
                      <div class="card-body">
                        <!-- <div *ngIf="isSinhala;">
                            <label>Select / Search Vote Detail</label> 
                            <select class="form-control">
                                <option  value="0">--Select Vote Detail</option>
                                <option *ngFor=" let votedetail1 of APIVoteDetailsList" [value]="votedetail1.id" > {{(votedetail1.code +" :: " + votedetail1.nameSinhala)}} </option>
                            </select>
                        </div> -->


                        <!-- <div *ngIf="isSinhala;">
                            <input class="form-control" type="text" list="VoteDetails" name="votedetail" [(ngModel)]='selected' (change)="selectCountryName(selected)" />
                            <datalist id="VoteDetails">
                                <select class="form-control">
                                    <option *ngFor="let votedetail1 of APIVoteDetailsList" [value]="votedetail1.id">{{(votedetail1.code +" :: " + votedetail1.nameSinhala)}} </option>
                                </select>
                            </datalist>
                        </div> -->

                        <!-- <input type="text"
                        placeholder="Pick one"
                        aria-label="Number"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                 <mat-autocomplete #auto="matAutocomplete">
                   <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                     {{option}}
                   </mat-option>
                 </mat-autocomplete> -->


                        <div *ngIf="isSinhala;">
                            <label>Select Vote Programme</label> 
                            <select class="form-control" [(ngModel)]="programmeID" (ngModelChange)="onchangeProgramme($event);">
                                <option  value="0">--Select Vote Programme</option>
                                <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameSinhala)}} </option>
                            </select>
                        </div>

                        <div *ngIf="isEnglish;">
                            <label>Select Vote Programme</label>
                            <select class="form-control" [(ngModel)]="programmeID" (ngModelChange)="onchangeProgramme($event);">
                                <option value="0">--Select Vote Programme</option>
                                <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameEnglish)}} </option>
                            </select>
                        </div>
                        <div *ngIf="isTamil;">
                            <label>Select Vote Programme</label>
                            <select class="form-control" [(ngModel)]="programmeID" (ngModelChange)="onchangeProgramme($event);">
                                <option value="0">--Select Vote Programme</option>
                                <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameTamil)}} </option>
                            </select>
                        </div>


                            <div *ngIf="isSinhala;">
                                <label>Select Vote</label>
                                <select class="form-control" [(ngModel)]="selectedVoteallocation.voteDetailID"   (ngModelChange)="onchangeVoteDetail($event);">
                                    <option value="0" > --Select Vote Detail-- </option>
                                    <option *ngFor=" let votedetail of APIVoteDetailsForProgrammeList" [value]="votedetail.id"> {{(votedetail.code + " :: " + votedetail.nameSinhala)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isEnglish;">
                                <label>Select Vote</label>
                                <select class="form-control" [(ngModel)]="selectedVoteallocation.voteDetailID"  (ngModelChange)="onchangeVoteDetail($event);">
                                    <option value="0" > --Select Vote Detail-- </option>
                                    <option *ngFor=" let votedetail of APIVoteDetailsForProgrammeList" [value]="votedetail.id"> {{(votedetail.code + " :: " + votedetail.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Vote</label>
                                <select class="form-control" [(ngModel)]="selectedVoteallocation.voteDetailID"  (ngModelChange)="onchangeVoteDetail($event);">
                                    <option value="0" > --Select Vote Detail-- </option>
                                    <option *ngFor=" let votedetail of APIVoteDetailsForProgrammeList" [value]="votedetail.id"> {{(votedetail.code + " :: " + votedetail.nameTamil)}} </option>
                                </select>
                            </div>

                            <div >
                                <label>Select Year</label>
                                <select class="form-control" [(ngModel)]="selectedVoteallocation.year" (ngModelChange)="onchangeYear($event);">
                                    <option *ngFor=" let yeardetail of APIYearsList" [value]="yeardetail.description">  {{(yeardetail.description)}}  </option>
                                </select>
                            </div> 

                              <!-- <input type="text" [(ngModel)]="selectedVoteallocation.votedetailID" placeholder="Select Accountdetail" class="form-control"required/> -->
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteallocation.allocationAmount" placeholder="Type Vote Allocation Amount" class="form-control"required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedVoteallocation.incomeAmount" placeholder="Type Vote Total Income" class="form-control"required/>
                              <br>
                              <div class="form-group">
                                <button class="btn btn-success" (click)="updateRecord()">{{(selectedVoteallocation.id!==undefined)?'Update':'Create'}}</button>
                                <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                                <div class="loading" *ngIf="loading">
                                <mat-spinner></mat-spinner>
                            </div>
                      </div>
                  </div>
                </div>
            </div>
              <div class="col-lg-6 col-md-12">
                  <div class="card">
                      <div class="card-header card-header-tabs card-header-primary">
                          <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title"></span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#inSinhala" data-toggle="tab">
                                          <i class="material-icons"></i> Vote Allocations List 
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                </ul>
                            </div>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                              <th>Vote Name</th>
                                              <!-- <th>Year</th> -->
                                              <th>Vote Allocation Amount</th>
                                              <th>Vote Total Income</th>
                                              <th>Options</th>
                                          </tr>
                                          <tr *ngFor="let voteallocation of APIVoteallocationsListbyVoteDetailIdandSabhaId; index as i">
                                              <td>{{ i+1 }}</td>
                                              <td ><span *ngIf="isSinhala">{{objSelectedVoteDetail.nameSinhala}}</span> <span *ngIf="isEnglish">{{objSelectedVoteDetail.nameEnglish}}</span> <span *ngIf="isTamil">{{objSelectedVoteDetail.nameTamil}}</span> </td> 
                                              <!-- <td>{{ voteallocation.year }}</td> -->
                                              <td>{{ voteallocation.allocationAmount }}</td>
                                              <td>{{ voteallocation.incomeAmount }}</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button (click)="editVoteAllocation(voteallocation)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="deleteVoteAllocation(voteallocation)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                             
                          </div>
                      </div>
                  </div>
              </div>
          
        </div>
    </div>
  </div>
  