<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0">Balancesheet Balances</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Vote Management</li>
              <li class="breadcrumb-item active">Balancesheet Balances</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                  <div class="card card-primary">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Create Balancesheet Balance</h4>
                          <!-- <p class="card-category">Create Vote Programme</p> -->
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      <div class="card-body">
                           
                            <div *ngIf="isSinhala;">
                                <label>Select Title</label>
                                <select class="form-control" [(ngModel)]="TitleID" name="source" (ngModelChange)="getAllBalancesheetSubtitleByTitleID($event);"> 
                                  <option value="0" > --Select Balancesheet Title-- </option>
                                    <option *ngFor=" let Balancesheettitle of APIBalancesheettitleList" [value]="Balancesheettitle.id"> {{(Balancesheettitle.code +" :: " + Balancesheettitle.nameSinhala)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isEnglish;">
                                <label>Select Title</label>
                                <select class="form-control" [(ngModel)]="TitleID" name="source" (ngModelChange)="getAllBalancesheetSubtitleByTitleID($event);"> 
                                  <option value="0" > --Select Balancesheet Title-- </option>
                                    <option *ngFor=" let Balancesheettitle of APIBalancesheettitleList" [value]="Balancesheettitle.id"> {{(Balancesheettitle.code +" :: " + Balancesheettitle.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Title</label>
                                <select class="form-control" [(ngModel)]="TitleID" name="source" (ngModelChange)="getAllBalancesheetSubtitleByTitleID($event);"> 
                                  <option value="0" > --Select Balancesheet Title-- </option>
                                    <option *ngFor=" let Balancesheettitle of APIBalancesheettitleList" [value]="Balancesheettitle.id"> {{(Balancesheettitle.code +" :: " + Balancesheettitle.nameTamil)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isSinhala;">
                                <label>Select Income Sub Title</label>
                                <select class="form-control" [(ngModel)]="selectedBalancesheetBalance.voteDetailID" (ngModelChange)="onchangebalancesheetsubtitle($event);" >
                                  <option value="0" > --Select Balancesheet Subtitle-- </option>
                                    <option *ngFor=" let subtitle of APIBalancesheetsubtitleListBybalancetitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameSinhala)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isEnglish;">
                                <label>Select Income Sub Title</label>
                                <select class="form-control" [(ngModel)]="selectedBalancesheetBalance.voteDetailID"  (ngModelChange)="onchangebalancesheetsubtitle($event);">
                                  <option value="0" > --Select Balancesheet Subtitle-- </option>
                                    <option *ngFor=" let subtitle of APIBalancesheetsubtitleListBybalancetitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select Income Sub Title</label>
                                <select class="form-control" [(ngModel)]="selectedBalancesheetBalance.voteDetailID"  (ngModelChange)="onchangebalancesheetsubtitle($event);">
                                  <option value="0" > --Select Balancesheet Subtitle-- </option>
                                    <option *ngFor=" let subtitle of APIBalancesheetsubtitleListBybalancetitle" [value]="subtitle.id"> {{(subtitle.code +" :: " + subtitle.nameTamil)}} </option>
                                </select>
                            </div>


                            <div >
                                <label>Select Year</label>
                                <select class="form-control" [(ngModel)]="selectedBalancesheetBalance.year"  (ngModelChange)="onchangeYear($event);"  >
                                    <option selected>-- Select Year --</option>
                                    <option *ngFor=" let yeardetail of APIYearsList" [value]="yeardetail.description">  {{(yeardetail.description)}}  </option>
                                </select>
                            </div>
                              <br>
                              <input type="float" [(ngModel)]="selectedBalancesheetBalance.balance" placeholder="Type Balance" class="form-control"required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedBalancesheetBalance.comment" placeholder="Type Comment Here" class="form-control" required/>
                              <br>
                              <div class="form-group">
                                <button class="btn btn-success" (click)="updateRecord()">{{(selectedBalancesheetBalance.id!==undefined)?'Update':'Create'}}</button>
                                &nbsp;
                                <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                                <!-- <div class="loading" *ngIf="loading">
                                <mat-spinner></mat-spinner> -->
                            <!-- </div> -->
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Balancesheet Balances List</h3>
        
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                      <div class="card-body">
                          <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                            <!-- <th>Title</th>
                                            <th>Sub Title</th> -->
                                            <th>Year</th>
                                            <th>Balance</th>
                                            <th>Comment</th>
                                            <th>Options</th>
                                        </tr>
                                        <tr *ngFor="let balancesheetalance of APIBalancesheetalancesListforvoteidandyear; index as i">
                                            <td>{{ i+1 }}</td>
                                            <!-- <td> Title</td>
                                            <td> SubTitle</td> -->
                                            <td>{{ balancesheetalance.year }}</td>
                                            <td>{{ balancesheetalance.balance | number:'1.2-2'}}</td>
                                            <td>{{ balancesheetalance.comment }}</td>
                                            <td class="td-actions">
                                                <button mat-raised-button (click)="editBalancesheetBalance(balancesheetalance)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-info">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                &nbsp;
                                                <button (click)="deleteBalancesheetBalance(balancesheetalance)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          
        </div>
    </div><!-- /.container-fluid -->
</section>
</div>
  