<!-- Content Wrapper. if not page allowed for user -->
<div *ngIf="!haspermission && !isadmin" class="content-wrapper">
  <div class="row">
    <div class="col-sm-2">
    </div>
        <div class="col-sm-8">
    <div class="w3-display-middle">
      <br><br><br>
      <h2 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h2>
      <h4 class="w3-center w3-animate-right">You dont have permission to view this page.</h4>
      <h5 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h5>
      <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
      </div>
    </div>
  </div>
 </div>
 <!-- End of if not page allowed for user wrapper -->
  <!-- Content Wrapper. Contains page content -->
<div *ngIf="haspermission || isadmin"  class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0">New User</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">User Management</li>
              <li class="breadcrumb-item active">New User</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-12">
                  <div class="card card-primary">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Create New User</h4>
                          <!-- <p class="card-category">Create Vote Programme</p> -->
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      <div class="card-body">
              <div id="typography">
                  <!-- <form #simpleForm="ngForm"> -->
                      <div *ngIf="isSinhala;">
                        <label>Select Office</label>
                        <select class="form-control" [(ngModel)]="model.officeID" placeholder="Select Office" (ngModelChange)="onchangeOffice($event);">
                            <option value="0"> --Select an Office--</option>
                            <option *ngFor=" let office of APIOfficesList" [value]="office.id" > {{(office.nameSinhala+" ("+ office.officeTypeID+")")}} </option>
                        </select>
                    </div>
      
                    <div *ngIf="isEnglish;">
                        <label>Select Office</label>
                        <select class="form-control" [(ngModel)]="model.officeID" placeholder="Select Office" (ngModelChange)="onchangeOffice($event);">
                            <option value="0"> --Select an Office--</option>
                            <option *ngFor=" let office of APIOfficesList" [value]="office.id" > {{(office.nameEnglish+" ("+ office.officeTypeID +")")}} </option>
                        </select>
                    </div>
                    
                    <div *ngIf="isTamil;">
                        <label>Select Office</label>
                        <select class="form-control" [(ngModel)]="model.officeID" placeholder="Select Office" (ngModelChange)="onchangeOffice($event);">
                            <option value="0"> --Select an Office--</option>
                            <option *ngFor=" let office of APIOfficesList" [value]="office.id" > {{(office.nameTamil+" ("+ office.officeTypeID +")")}} </option>
                        </select>
                    </div>
                  <br>
                      <input  [(ngModel)]="model.username" placeholder="Email (Username)" class="form-control" />
                     <br>
                      <div class="form-group">
                          <input Value="Create" (click)="saveUser()" class="btn btn-success col-2">&nbsp;
                          <input type="reset" Value="Clear" class="btn btn-danger col-2">
                      </div>
                  <!-- </form> -->
              </div>
          </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Registered Users List</h3>
        
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                      <div class="card-body">
                          <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                          <th>#</th>
                                          <th>Username</th>
                                          <th>Name with Initials</th>
                                          <th>Office</th>
                                      </tr>
                                      <tr *ngFor="let user of UserList; index as i">
                                          <td>{{ i+1 }}</td>
                                          <td>{{ user.username }}</td>
                                          <td>{{ user.nameWithInitials }}</td>

                                          <td>
                                            <span *ngIf="user.office!==null">{{ user.office.nameEnglish }} <span *ngIf="user.office.officeTypeID==1">(Main)</span><span *ngIf="user.office.officeTypeID==2">(Sub)</span></span>
                                          </td>
                                          
                                          <td class="td-actions text-right">
                                              <!-- <button (click)="deleteProgramme(programme)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          
        </div>
    </div><!-- /.container-fluid -->
</section>
</div>
  