<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0">Vote Income Titles</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Vote Management</li>
              <li class="breadcrumb-item active">Vote Income Titles</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4 col-md-12">
                  <div class="card card-primary">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title ">Create Vote Income Title</h4>
                          <!-- <p class="card-category">Create Vote Programme</p> -->
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      <div class="card-body">
                             <div *ngIf="isSinhala;">
                                <label>Select a Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedIncomeTitle.programmeID" (ngModelChange)="getAllIncomeTitlesByProgrammeId($event);">
                                    <option value="0" > --Select Programme-- </option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameSinhala)}} </option>
                                </select>
                            </div>

                            <div *ngIf="isEnglish;">
                                <label>Select a Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedIncomeTitle.programmeID" (ngModelChange)="getAllIncomeTitlesByProgrammeId($event);">
                                    <option value="0" > --Select Programme-- </option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameEnglish)}} </option>
                                </select>
                            </div>
                            <div *ngIf="isTamil;">
                                <label>Select a Vote Programme</label>
                                <select class="form-control" [(ngModel)]="selectedIncomeTitle.programmeID" (ngModelChange)="getAllIncomeTitlesByProgrammeId($event);">
                                    <option value="0" > --Select Programme-- </option>
                                    <option *ngFor=" let programme of APIProgrammesList" [value]="programme.id" > {{(programme.code +" :: " + programme.nameTamil)}} </option>
                                </select>
                            </div>
                              <br>
                              <input type="text" [(ngModel)]="selectedIncomeTitle.nameSinhala" placeholder="Type Income Titile Name in Sinhala" class="form-control"required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedIncomeTitle.nameTamil" placeholder="Type Income Titile Name in Tamil" class="form-control" required/>
                              <br>
                              <input type="text" [(ngModel)]="selectedIncomeTitle.nameEnglish" placeholder="Type Income Titile Name in English" class="form-control"required/>
                              <br>
                              
                              <input type="text" [(ngModel)]="selectedIncomeTitle.code" placeholder="Type Income Titile Code" class="form-control" required/>
                              <br>
                              <br>
                              <div class="form-group">
                                <button class="btn btn-success" (click)="updateRecord()">{{(selectedIncomeTitle.id!==undefined)?'Update':'Create'}}</button>
                                &nbsp;
                                <button class="btn btn-danger" (click)="clearRecord()">Clear</button>
                                <!-- <div class="loading" *ngIf="loading">
                                <mat-spinner></mat-spinner>
                            </div>  -->
                     </div> 
                  </div>
            </div>
        </div>
            <div class="col-lg-8 col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">Vote Income Title List</h3>
        
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                      </div>
                    </div>
                      <div class="card-body">
                          <div class="tab-content">
                              
                              <div class="tab-pane active" id="inSinhala">
                                  <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>#</th>
                                              <!-- <th>Programme</th> -->
                                              <th>Income Title</th>
                                              <th>Code</th>
                                              <th class="text-center">Options</th>
                                          </tr>
                                          <tr *ngFor="let incomeTitile of APIIncomeTitlesForProgrammeList; index as i">
                                              <td>{{ i+1 }}</td>
                                              <td ><span *ngIf="isSinhala">{{incomeTitile.nameSinhala}}</span> <span *ngIf="isEnglish">{{incomeTitile.nameEnglish}}</span> <span *ngIf="isTamil">{{incomeTitile.nameTamil}}</span> </td> 
                                              <td>{{ incomeTitile.code }}</td>
                                            <td class="td-actions text-center">
                                                <button mat-flat-button (click)="editIncomeTitle(incomeTitile)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn">
                                                    <i class="fas fa-edit text-primary"></i>
                                                </button>
                                                <button (click)="deleteIncomeTitle(incomeTitile)" mat-flat-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn"> 
                                                    <i class="fas fa-trash text-danger"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          
        </div>
    </div><!-- /.container-fluid -->
</section>
</div>
  